* {
    font-family: 'Inter Tight', sans-serif;
    margin: 0px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.container {
    flex: 1;
}

footer{
    background-color: #202020;
    color: white;
}

footer a {
    text-decoration: none;
    color: #eee;
}

footer a:hover{
    text-decoration:underline;
}

nav{
    font-family: 'Golos Text', sans-serif;
    background-color: #202020;
    color: white;
    text-transform: uppercase;
    text-align: left;
    font-size: 32px;
    padding: 0.2em;
}

ul {
    list-style: none;
    padding-left: 0;
}

table{
    border: 1px solid;
    border-radius: 1em;
    margin: 1em;
    padding: 1px;
}

#header{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: auto;
    color: black;
    padding: 1.8em;
    background-color: #C3FF8D ;

}

.middle{
    display: contents;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button-middle{
    background-color: #202020;
    padding: 10px 15px;
    border: 1px solid;
    border-radius: 1em;
    align-self: center;
    margin-bottom: 2%;
}

.slideshow-container {
    display: flex;
    position: relative;
    margin: calc(20%/2);
    align-items: center;
    width: auto;
  }

.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }

.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
}

#claim{
    align-self: flex-end;
    line-height: 1em;
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-main {
        justify-content: space-around;
    }
    .slideshow-container{
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main {
        justify-content: space-evenly;
    }
    .slideshow-container{
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 29.8125rem /*477px*/){
    .slideshow-container{
        flex-wrap: wrap;
    }
}

.slideshow-item{
    display: block;
    width: 100%;
    margin: calc(10%/3);
}

button:hover{
    background-color: #404040;
    transition-duration: 0.2s;
}